{% extends "questionnaire/base.html" %}

{% block body_content %}
<div class="container main-body">

  <div class="index-main">
    <h1 class="index-heading">Simple Questionnaire</h1>
    <form action="{% url 'vote' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">My favourite month.</label>
            <select name="month_choice" class="form-control">
                {% for choice in month_choices %}
                    <option value="{{choice.0}}">{{choice.1}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="">My favourite day of the week</label>
            <select name="day_choice" class="form-control">
                {% for choice in day_choices %}
                    <option value="{{choice.0}}">{{choice.1}}</option>
                {% endfor %}
            </select>
        </div>
        
        <input type="submit" value="Submit" class="btn btn-primary">
    <form>
  </div>
</div>
{% endblock %}